
<%= render partial: "layouts/header"%>

	<div class="clearfix"></div>
	<div class="clearfix"></div>
 	<div class="banner-back">
		<div class="container">
			<div class="row">
				<div class="col-md-12 banner">
				
				</div>
			</div>
		</div>
	</div> 
	<%= render partial: "layouts/content"%>

	
	<%= render partial: "layouts/footer"%>
