<!DOCTYPE html>
<html lang="en">
<head>
<meta charset = "UTF-8">
<title>Event Circle - Dashboard</title>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag 'home/mainpage/main-index'%>
</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-7">
				<h1 class="tagline">Event Planning. Organizing. and Execution</h1>
				<img class="logo img-responsive" src="/assets/logo.jpg" alt="Logo"></img>
				</div>
				
				<div class="col-md-7 col-sm-7">
					
					<span class="pull-right" STYLE="PADDING-top:25px;">
						SEARCH SITE <input type="text">
					</span>
					
					<div class="clearfix"></div>
					<nav class="main-nav">
					<ul class="nav-pills pull-right">
						<li><a href="#" class="selected">THE EC</a></li>
						<li><a href="#">ABOUT</a></li>
						<li><a href="#">REGISTER</a></li>
						<li><a href="#">CONTACT</a></li>
						<li><a href="#">EVENTS</a></li>
					</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<div class="banner-back">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-7">
					<img class="logo img-responsive" src="/assets/banner.png" alt="Logo"></img>
				</div>
			</div>
		</div>
	</div>
	
	<div class="middle-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-7">
				<div class="title-1">Find or Register an Event Today.</div>
				<nav class="middle-nav">
					<ul class="nav-pills">
						<li><a href="#">Host Event</a></li>
						<li><a href="#">Attend Event</a></li>
						<li><a href="#">Sponsor Event</a></li>
					</ul>
				</nav>
				</div>
			</div>
		</div>
	</div>
	
	<div class="clearfix"></div>
	
	<div class="content-back">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-7">
					<div class="box">
						<div class="box-head">
							<span class="title-2">Tale of <span class="highlight-1">Two Cities</span></span>
						</div>
						<p class="box-content">It was the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of Darkness, it was the spring of hope, it was the winter of despair, we had everything before us, we had nothing before us, we were all going direct to Heaven, we were all going direct the other way -- in short, the period was so far like the present period, that some of its noisiest authorities insisted on its being received, .....
						<br><br>
						<strong><a href="#" class="highlight-1">Learn More</a></strong>
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-7">
					<div class="box">
						<div class="box-head">
							<span class="title-2">Ovid’s <span class="highlight-1">Metamorphoses</span></span>
						</div>
						<p class="box-content">
						Of bodies chang'd to various forms, I sing: 
						Ye Gods, from whom these miracles did spring, 
						Inspire my numbers with coelestial heat; 
						'Till I my long laborious work compleat: 
						And add perpetual tenour to my rhimes, 
						Deduc'd from Nature's birth, to Caesar's times. 
						Before the seas, and this terrestrial ball, 
						And Heav'n's high canopy, that covers all, 
						One was the face of Nature; if a face: 
						Rather a rude and indigested mass: 
						A lifeless lump, unfashion'd, and unfram'd, 
						Of jarring seeds; .....<br><br>
						<strong><a href="#" class="highlight-1">Learn More</a></strong>
						</p>
						
						
					</div>					
				</div>
				<div class="col-md-4 col-sm-7">
					<div class="box">
						<div class="box-head">
							<span class="title-2">Tripitaka <span class="highlight-1">Pali Canon</span></span>
						</div>
						<p class="box-content">
						'Suppose a monk were to say: "Friends, I heard and received this from the Lord's own lips: this is the Dhamma, this is the discipline, this is the Master's teaching", then, monks, you should neither approve nor disapprove his words. Then, without approving or disapproving, his words and ex­pressions should be carefully noted and compared with the Suttas and reviewed in the light of the discipline. If they, on such comparison and review, are found not to conform to the Suttas or the discipline, the conclusion must be.....
						<br><br>
						<strong><a href="#" class="highlight-1">Learn More</a></strong>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-7">
				
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer-middle">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-7">
				
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-7">
				
				</div>
			</div>
		</div>
	</div>
	
	<footer>
	</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="js/bootstrap.min.js"></script>-->
     <%= javascript_include_tag "bootstrap.min" %>
</body>
</html>