@import url('bootstrap.css');
body{
background-image:url('/assets/body-back.jpg');
background-repeat:repeat;
}
/*------------ Header ---------------------*/
header {
background-image:url('/assets/header-back.jpg');
backround-repeat:repeat-x;
height:132px;
width:100%;
}
.tagline{
font-size:16px;
color:#7c8091;
text-transform:uppercase;
}
.logo{
padding:10px 0 0 0;
}
/*------------ Top Nav ---------------------*/
.main-nav{
margin:20px 0 0 0;
float:right;
 }

.main-nav ul li{
padding:14px 10px 14px 10px;
list-style:none;
color:#84d4f0;
font-size:17px;
font-weight:bold;
border-left: 3px solid #afcfd0;
}
.main-nav ul li:last-child{
border-right: 3px solid #afcfd0;
}
.main-nav ul li a {
color:#dcf0ed;
}
.main-nav ul li a:link{
color:#dcf0ed;
}
.main-nav ul li a:hover{
color:#fff;
text-decoration:none;
}
.main-nav ul li a.selected{
color:#fff;
}
/*------------ Middle Nav ---------------------*/
.middle-nav{
float:right;
margin-top:12px;
 }
.middle-nav ul li{
padding:14px 20px 14px 20px;
list-style:none;
color:#84d4f0;
font-size:18px;
font-weight:bold;
border-left: 3px solid #84d4f0;
}
.middle-nav ul li:last-child{
border-right: 3px solid #84d4f0;
}
.middle-nav ul li a {
color:#84d4f0;
}
.middle-nav ul li a:link{
color:#84d4f0;
}
.middle-nav ul li a:hover{
color:#fff;
text-decoration:none;
}
.middle-nav ul li a.selected{
color:#fff;
}

/*----------------- Container -------------------*/
.banner-back{
background-image:url('/assets/banner-back.png');
background-position: left top;
background-repeat:repeat-x;
width:100%;
min-height:288px;
}
.banner{
min-height:288px;
background:#a1a7bf;
}
.middle-bar{
background-image:url('/assets/middle-bar.png');
background-position: left top;
background-repeat:repeat-x;
width:100%;
height:70px;
}
.content-back{
background-image:url('/assets/content-back.png');
background-position: left top;
background-repeat:repeat;
width:100%;
min-height:326px;
}
.footer-top{
background-image:url('/assets/footer-top.png');
background-position: left top;
background-repeat:repeat-x;
width:100%;
min-height:45px;
}
.footer-middle{
background-image:url('/assets/footer-middle.png');
background-position: left top;
background-repeat:repeat-x;
width:100%;
min-height:69px;
}
.footer-bottom{
background-image:url('/assets/footer-bottom.png');
background-position: left top;
background-repeat:repeat-x;
width:100%;
min-height:44px;
}
.content-section{
background:#fff;
padding:1px 0 0 5px;
/* border-top:10px solid #9fa3b9; */
}
.title-1{
font-size: 25px;
font-weight: bold;
color:#aadbd0;
padding-top:17px;
display:inline-block;
}
.title-2{
font-size: 20px;
font-weight: bold;
color:#000;
padding-left:10px;
display:inline-block;
}
.highlight-1{
color:#b86730;
}
.box-border{
border: 1px solid #ededf3;
}
.box-head{
padding:5px 0 5px 0;
background:#e2e7f1;
border-bottom:3px solid #bcd4d3;
}
.box{
width:100%;
min-height:320px;
background:#fff;
border: 2px solid #ededf3;
}
.box-content{
padding:12px;
}
.form-control{
    padding:5px 4px;
}
@media (min-width: 768px) and (max-width:1024px)  {
.content-section {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 0 0 26px;
    padding: 1px 0 0 5px;
}
.left-nav {
    margin: 20px 0 0;
    width: 120%;
}
}
@media (min-width: 768px) and (max-width:1024px) and (orientation:portrait)  {
.container-border-top{
  background-image: none;
    height: 0;
    position: relative;
    width: 100%;
	margin-top:-35px;
}
section{
background-image:none;
width:100%;
}
.left-nav {
    margin: 20px 0 0;
    width: 100%;
}
}

@media only screen and (max-width : 320px) {
.container-border-top{
  background-image: none;
    height: 0;
    position: relative;
    width: 100%;
	margin-top:-35px;
}
section{
background-image:none;
width:100%;
}
.left-nav {
    margin: 20px 0 0;
    width: 100%;
}
}

@media only screen 
and (min-width : 321px) and (max-width:640px) {
.container-border-top{
  background-image: none;
    height: 0;
    position: relative;
    width: 100%;
	margin-top:-35px;
}
section{
background-image:none;
width:100%;
}
.left-nav {
    margin: 20px 0 0;
    width: 100%;
}
}