@import url('bootstrap.css');
@import url('custom-grid.css');
body{
background-image:url('../assets/body-back.jpg');
background-repeat:repeat;
}
/*------------ Header ---------------------*/
header {
background-image:url('../assets/header-back.jpg');
backround-repeat:repeat-x;
height:132px;
width:100%;
}
.tagline{
font-size:16px;
color:#7c8091;
text-transform:uppercase;
}
.logo{
padding:10px 0 0 0;
}
/*------------ Left Nav ---------------------*/
.left-nav{
margin:20px 0 0 0;
 }
.left-nav ul{
padding:20px 0 0 0;
}
.left-nav ul li{
padding:20px 0 20px 20px;
list-style:none;
color:#84d4f0;
font-size:20px;
border-bottom:3px solid #00879f;
margin-right:12px;
}
.left-nav ul li a:link{
color:#84d4f0;
}
.left-nav ul li a:hover{
color:#aadbd0;
text-decoration:none;
}
.selected{
background-image:url('../assets/triangle.png');
background-repeat:no-repeat;
background-position:center right;
position:relative;
right:0;
}

/*----------------- Container -------------------*/
section{
background-image:url('../assets/body-repeat.png');
background-repeat:repeat;
position:relative;
width:100%;
min-height:700px;
}
.container-border-top{
  background-image: url("../assets/body-border-top.png");
    background-position: left 23px;
    background-repeat: repeat-x;
    height: 30px;
    position: relative;
    width: 100%;
}
.content-section{
background:#fff;
padding:1px 0 0 5px;
/* border-top:10px solid #9fa3b9; */
}
.title{
font-size: 26px;
font-weight: bold;
padding: 3px 0 0 41px;
text-transform: uppercase;
}
.box-border{
border: 1px solid #ededf3;
}
.box-head{
padding-top:20px;
background:#dfe4f0;
}
@media (min-width: 768px) and (max-width:1024px)  {
.content-section {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 0 0 26px;
    padding: 1px 0 0 5px;
}
.left-nav {
    margin: 20px 0 0;
    width: 120%;
}
}
@media (min-width: 768px) and (max-width:1024px) and (orientation:portrait)  {
.container-border-top{
  background-image: none;
    height: 0;
    position: relative;
    width: 100%;
	margin-top:-35px;
}
section{
background-image:none;
width:100%;
}
.left-nav {
    margin: 20px 0 0;
    width: 100%;
}
}

@media only screen and (max-width : 320px) {
.container-border-top{
  background-image: none;
    height: 0;
    position: relative;
    width: 100%;
	margin-top:-35px;
}
section{
background-image:none;
width:100%;
}
.left-nav {
    margin: 20px 0 0;
    width: 100%;
}
}

@media only screen 
and (min-width : 321px) and (max-width:640px) {
.container-border-top{
  background-image: none;
    height: 0;
    position: relative;
    width: 100%;
	margin-top:-35px;
}
section{
background-image:none;
width:100%;
}
.left-nav {
    margin: 20px 0 0;
    width: 100%;
}
}