	
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				<div class="footer-title-1">The 10 Things that Gaurentee Your Event will be a Success.</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer-middle">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="footer-nav">
						<ul class="nav-pills pull-right">
							<li><a href="#">THE EC</a></li>
							<li><a href="html/about.html">ABOUT</a></li>
							<li><a href="#">REGISTER</a></li>
							<li><a href="#">CONTACT</a></li>
							<li><a href="#">EVENTS</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="pull-right"><span class="powered">Powered By </span>
				<img src="/assets/envisio_it_logo1.png" alt="Logo"></img></p>
				</div>
			</div>
		</div>
	</div>
	
	